{% load leaflet_tags %}
{% load staticfiles %}
<html>
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        <link href='{% static "pttime/bulk-create.css" %}' rel='stylesheet' type='text/css'/>
    </head>
    <body>
        <h1>Bulk Point Creation</h1>

        <button class="create-points">
            Create these points please!
        </button>


        {% leaflet_map "main" callback="main_map_init" %}
        <script type="text/javascript" src='{% static "pttime/bulk-create.js" %}'></script>

    </body>
</html>