#main {
    height: 900px;
}

.my-div-icon {
    background: red;
}

.create-points {
    position: absolute;
    right: 7px;
    top: 32px;
    font-size: 19px;
    font-family: Luminari;
}

h1 {
    font-family: Luminari;
    text-align: center;
    color: red;
}

/*
body {
    background: black url(/static/pttime/animated-stars-background.gif);
}
*/